body{
  font-family: 'Segoe UI',sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
}
.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: white;
  padding: 12px 40px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.logo{
  list-style: none;
  color: #0077cc;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap:20px;
}

.navbar a{
  text-decoration: none;
  color:#333;
  font-weight: 500;
}

.auth-buttons button{
  margin-left: 10px;
  padding: 8px,14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.login {
  background: #fff;
  border: 1px;
  color: #0077cc;
}

.signup{
  background: #0077cc;
  color: white;
}

.hero{
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(90deg,#0077cc,#00aacc);
  color: white;
}

.hero h1{
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 16px;
  margin-bottom: 30px;
}

.search-box{
  display:flex;
  justify-content: center;
  gap: 10px;
}

.search-box input{
  width: 250px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.search-box button {
  padding: 10px 16px;
  background: #005fa3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.content{
  padding:50px;
  text-align:center;
}

.live-navigation {
  width: 60%;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,1);
}
.live-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status.active {
  color: green;
  font-weight: bold;
}

.map-box {
  border: 1px;
  color:#ccc;
  border-radius: 10px;
  margin: 15px 0;
  padding: 30px;
  background: #f4f4f4;
}



.report-header {
  text-align: center;
  background: linear-gradient(90deg, #0077cc, #00aacc);
  color: white;
  padding: 40px 20px;
  border-radius: 0 0 20px 20px;
}

.report-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.report-header p {
  font-size: 15px;
  line-height: 1.6;
  color: #e9f7ff;
}


.report-container {
  width: 80%;
  margin: 30px auto;
}


.report-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.report-card h2 {
  color: #0077cc;
  font-size: 22px;
  margin-bottom: 10px;
}

.section-desc {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}


.map-box {
  text-align: center;
  margin-bottom: 15px;
}
.map-box img {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}


.coord-inputs {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.coord-inputs input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.report-card label {
  display: block;
  font-weight: bold;
  margin: 12px 0 5px;
}

.report-card input[type="text"],
.report-card select,
.report-card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.report-card textarea {
  resize: vertical;
  min-height: 80px;
}


.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}
.buttons button {
  width: 120px;           
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
#submitReport {
  background: #0077cc;
  color: white;
}

#submitReport:hover {
  background: #3399ff;    
  transform: scale(1.03); 
}


.clear {
  background: #ddd;
  color: #333;
}

.clear:hover {
  background: #f0f0f0;    
  transform: scale(1.03);
}


.preview-container {
  margin-top: 10px;
}

#alertBox{
  position: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  z-index: 9999;
  transition: all 0.5s ease;
}

.alert-hidden{
  opacity: 0;
  pointer-events: none;
}

.alert-show{
  opacity: 1;
}

.settings-header{
  background: #0077cc;
  color:white;
  padding:40px 40px 30px;
  border-radius: 0 0 20px 20px;
}

.settings-header h1{
  font-size:28px;
  margin-bottom:8px;
}

.settings-header p{
  font-size: 14px;
  max-width: 600px;
  color: #e9f7ff;
  line-height: 1.6;
}

.settings-card{
  background: white;
  width: 75%;
  margin: 30px auto;
  padding:25px 30px;
  border-radius: 12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.settings-card h2{
  color:#0077cc;
  font-size: 20px;
  margin-bottom: 6px;
}

.settings-card p{
  font-size: 14px;
  color:#555;
  margin-bottom: 18px;
}

.settings-input,.settings-select{
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 16px;
}

.settings-check-row{
  display:flex;
  align-items: center;
  gap:10px;
  margin-bottom: 12px;
}

.settings-check-row label{
  font-size: 14px;
}

.settings-save-btn{
  background: #0077cc;
  border:2px solid #0077cc;
  color:white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.2s;
}

.settings-save-btn:hover{
  background:#0077cc;
  color: white;
  border:2px solid #0077cc;
  transform:scale(1.03);
}

.feature-list{
  padding-left: 20px;
}

.feature-list li{
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.5;
}

.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index:0000;
  justify-content: center;
  align-items: center;
}

.modal-box{
  background: white;
  width: 450px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  animation: fadeIn 0.25s ease;
}

.modal-header{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom: 15px;
}

.modal-header h2{
  color:#17a34a;
  font-size: 22px;
}

.modal-icon{
  font-size:24px;
  color:#17a34a;
  font-weight: bold;
}

.modal-btn{
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
  background: #1a73e8;
  color: white;
  border:none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.modal-btn:hover{
  background: #1669d4;
}

@keyframes fadeIn{
  from{opacity: 0;transform: translateY(-10px);}
  to{opacity: 1;transform: translateY(0);}
}

.profile-header{
  text-align: center;
  background: linear-gradient(90deg,#0077cc,#00aacc);
  color:white;
  padding:40px 20px;
  border-radius: 0 0 20px 20px;
}

.profile-header h1{
  font-size: 28px;
  margin-bottom: 8px;
}

.profile-header p{
  font-size:14px;
  color:#e9f7ff;
  line-height: 1.6;
}

.profile-card{
  background: white;
  width: 75%;
  padding: 30px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.profile-card h2{
  color:#0077cc;
  font-size:20ox;
  margin-bottom:12px;
}

.profile-item{
  margin-bottom:12px;
  font-weight:500;
}

.profile-item intput{
  width:100%;
  padding: 10px;
  border-radius: 6px;
  border:1px solid #ccc;
  background: #eef2f5;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif; 
}


#login-form {
  display: inline-block;
  text-align: left;
}


h2 {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.login_input input {
  border: 2px solid lightgrey;
  border-radius: 40px;
  outline: none;
  width: 98%;
  height: 30px;
  text-indent: 7px;
  margin-bottom: 8px;
}


.submit_button input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; 
}


.submit_button input[type="submit"]:hover {
  background-color: #0056b3;
}



.signin-container{
  width: 360px;
  background: #ffffff;
  padding: 30px 35px;
  margin-top: 60px;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
  text-align: center;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}
.signin-container.title, .signin-container h2{
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;
}

.subtitle{
  font-size: 13px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 25px;
}

.form{
  text-align: left;
}

label{
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
  font-weight: 600;
}

intput, select{
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

input:focus, select:focus{
  border-color:#0077ff;
}

.create-btn{
  width: 100%;
  display: block;
  background: #0077cc;
  border:2px solid #0077cc;
  color:white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.2s;
}

.create-btn:hover{
  background:#0077cc;
  color: white;
  border:2px solid #0077cc;
  transform:scale(1.03);
}

.login-link{
  margin-top:15px;
  font-size: 13px;
}

.login-link a{
  color: #0066ff;
  font-weight: bold;
  text-decoration: none;
}

.cancel-btn{
  margin-top: 10px;
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  font-size: 14px;
}

.cancel-btn:hover{
  text-decoration: underline;
}




