<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장애물 신고하기</title>
   <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="alertBox" class="alert-hidden"></div>
    <header class="navbar">
      <div class="logo">모두의 길</div>
      <nav>
        <ul>
          <li><a href="home.html">홈화면</a></li>
          <li><a href="plan.html">길찾기</a></li>
          <li><a href="report.html">장애물 신고하기</a></li>
          <li><a href="setting.html">설정</a></li>
        </ul>
      </nav>
      <div class="auth-buttons">
        <button class="login" onclick="location.href='login.html'">로그인</button>
        <button class="signin"onclick="location.href='signin.html'">회원가입</button>
      </div>
    </header>
      <section class="hero">
        <h1>장애물 신고하기</h1>
        <p>이 페이지를 통해 길 위의 장애물을 신고하여 모두가 더 안전하게 이동할 수 있도록 도와주세요.</p>
      </section>
      <main class="report-container">
        <form id="reportForm">
          <div class="how-to">
            <h2>신고 방법</h2>
            <p>장애물이 발견된 위치를 입력하고 사진과 함께 장애물에 대한 구체적인 내용을 작성해주세요.</p>
          </div>
          <div class="report-card">
            <h3>장애물 세부 정보</h3>
            <label>장소 설명:</label>
            <input type="text" id="location" placeholder="장애물이 위치한 장소를 간단히 적어주세요" />
            <label>장애물 종류:</label>
            <select id="type" required>
              <option value="">선택하세요</option>
              <option>계단</option>
              <option>공사구간</option>
              <option>턱/경사</option>
              <option>기타</option>
            </select>
            <label>상세 설명:</label>
            <textarea id="details" placeholder="장애물의 종류나 위험 정도를 구체적으로 입력하세요"></textarea>
            <label>사진 첨부 (선택):</label>
            <input type="file" id="photo" accept="image/*" />
            <div class="preview-container">
            <img id="preview" src="" alt="미리보기" style="max-width: 300px; display: none; border-radius: 8px;">
          </div>
          <div class="buttons">
            <button  id="submitReport">신고 제출</button>
            <button class="clear" type="reset">초기화</button>
          </div>
        </div>
      </form>
    </main>
      <script src="script.js"></script>
  </body>
</html>